.offer-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60vh;
  background: linear-gradient(180deg, #088395, rgb(244, 242, 242));
  padding: 0px 3%;
  margin: 70px auto;
}

.offer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-left h1 {
  color: #171717;
  font-size: 45px;
  font-weight: 600;
}
.offer-left p {
  color: #171717;
  font-size: 15px;
}

.offer-left button {
  width: 240px;
  height: 50px;
  background-color: #740202;
  border-radius: 35px;
  font-size: 22px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
}

.offer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.offer-right img {
  height: 340px;

  margin-top: -20px;
}

img.offer-right-image-mobile {
  display: none;
}

@media (max-width: 810px) {
  .offer-container {
    width: 90%;
  }
}
@media (max-width: 630px) {
  .offer-left h1 {
    line-height: 55px;
  }
}
@media (max-width: 550px) {
  .offer-left h1 {
    font-size: 38px;
  }
  .offer-container {
    width: unset;
  }
}
@media (max-width: 510px) {
  .offer-left h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .offer-container {
    width: unset;
    justify-content: space-between;
    padding: 0px;
  }
  .offer-left button {
    width: 140px;
    font-size: 17px;
  }
  .offer-left p {
    font-weight: 500;
  }

  img.offer-rigth-image {
    display: none;
  }
  img.offer-right-image-mobile {
    display: block;
  }
  .offer-left {
    margin-left: 20px;
  }
}
